workflows/phase1/manual-health-check.json
{
  "name": "Phase 1 - Manual Health Check",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-assignment",
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "edit-fields",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  item.json.checkedBy = 'code-node';\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "phase1-code-node",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-status-ok-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "phase1-if-status-ok",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "health-check-result-passed-assignment",
              "name": "healthCheckResult",
              "value": "passed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -144
      ],
      "id": "phase1-mark-healthy",
      "name": "Mark Healthy"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "health-check-result-failed-assignment",
              "name": "healthCheckResult",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        48
      ],
      "id": "phase1-mark-unhealthy",
      "name": "Mark Unhealthy"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-assignment-phase1-build-success-response",
              "name": "workflow",
              "value": "manual-health-check",
              "type": "string"
            },
            {
              "id": "workflow-version-assignment-phase1-build-success-response",
              "name": "workflowVersion",
              "value": "phase1-v1",
              "type": "string"
            },
            {
              "id": "response-schema-version-assignment-phase1-build-success-response",
              "name": "responseSchemaVersion",
              "value": "health-check-response-v1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -144
      ],
      "id": "phase1-build-success-response",
      "name": "Build Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-assignment-phase1-build-failure-response",
              "name": "workflow",
              "value": "manual-health-check",
              "type": "string"
            },
            {
              "id": "workflow-version-assignment-phase1-build-failure-response",
              "name": "workflowVersion",
              "value": "phase1-v1",
              "type": "string"
            },
            {
              "id": "response-schema-version-assignment-phase1-build-failure-response",
              "name": "responseSchemaVersion",
              "value": "health-check-response-v1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        48
      ],
      "id": "phase1-build-failure-response",
      "name": "Build Failure Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mark Healthy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Unhealthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Healthy": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unhealthy": {
      "main": [
        [
          {
            "node": "Build Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "phase1-manual-health-check-v2",
  "nodeGroups": [],
  "tags": []
}
